.dm-btn {
    border: 0px !important;
    font-weight: bold !important;
    padding: 10px !important;
    margin-right: 20px !important;
    color:white !important;
}

.dm-green {
    background-color: #5CB85C !important;
}

.dm-blue {
    background-color: #0D47A6 !important;
}

.dm-orange {
    background-color: #E75113 !important;
}


.dm-row{
    display:flex;
    flex-direction: row;
    width: 600px !important;
}