.dm-btn {
    border: 0px !important;
    font-weight: bold !important;
}

.dm-green {
    background-color: #5CB85C !important;
}

.dm-blue {
    background-color: #0D47A6 !important;
}

.dm-orange {
    background-color: #E75113 !important;
}